<html>
<head>
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script type = "text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script type = "text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type = "text/javascript"  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</head>
<body>
   
<!--
{% if dataset %}
Material Science - Dataset: {{ dataset }}
{% else %}
Material Science
{% endif %}

 -->
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if dataset %}
     <!-- <h1 align='center'>Dataset: {{ dataset }}</h1> -->
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/datasets/{{dataset}}">Summary<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/datasets/{{dataset}}/preprocessing">Preprocessing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/datasets/{{dataset}}/graphs">Visualize</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/datasets/{{dataset}}/models">Models</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/datasets/{{dataset}}/predict">Predictions</a>
            </li>
        </ul>
      </div>
      {% endif %}
    </nav>





{% block content %}

 








{% endblock %}
    
</body>

</html>





