{% extends "base.html" %}
{% block content %}

<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">

  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/datasets/{{dataset}}/graphs">Visualize</a></li>
          <li class="breadcrumb-item active" aria-current="page">Overview</li>

      </ol>
  </nav>
  <div id='chart' class='chart'”></div>
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script type='text/javascript'>
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});
  </script>



</main>
{% endblock %}
