{% extends "base.html" %}
{% block content %}


<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">

  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/datasets/{{dataset}}/preprocessing">Preprocessing</a></li>
          <li class="breadcrumb-item active" aria-current="page">Overview</li>

      </ol>
  </nav>

<br><br>

<form class="form-models" method="post" action='/datasets/{{dataset}}/graphprocess/'>


<!-- histogram plot -->

<div class="row">
  <div class="col-sm-4">
    <h5>Histogram:</h5>
	  <label for="histogramselection">Select variables</label>
	   <select multiple name="histogram" class="form-control">
		     <option value=""></option>
            {% for mod in columns %}
			         <option value="{{mod}}">{{mod}}</option>
		        {% endfor %}
	   </select>
	</div>

<!-- Scatter plot -->

  <div class="col-sm">
    <h5>Scatter:</h5>
	  <label for="y_selection">Select variable</label>
	   <select name="y" class="form-control">
		     <option value=""></option>
            {% for mod in columns %}
			         <option value="{{mod}}">{{mod}}</option>
		        {% endfor %}
	   </select>

     <label for="x_selection">Select variable</label>
 	   <select name="x" class="form-control">
 		     <option value=""></option>
             {% for mod in columns %}
 			         <option value="{{mod}}">{{mod}}</option>
 		        {% endfor %}
 	   </select>
	</div>
  <br>


<!-- line plot -->

<!-- scatter plot -->
  <div class="col-sm-4">
    <h5>BoxPlot:</h5>
	  <label for="boxplotselect">Variable 1:</label>
	     <select name="boxplotcat" class="form-control"> Variable 1:
		       <option value=""></option>
              {% for mod in columns %}
			           <option value="{{mod}}">{{mod}}</option>
		          {% endfor %}
	     </select><br>
    <label for="variable2">Varable 2:</label>
	     <select name="boxplotnum" class="form-control">
		       <option value=""></option>
              {% for mod in columns %}
			           <option value="{{mod}}">{{mod}}</option>
		          {% endfor %}
	      </select>
	</div>
<!-- Correlation plot -->
  <div class="col-sm-4">
    <h5>Correlation Plots:</h5>
	  <label for="corelationplot">Select variables:</label>
      <select multiple name="corr" class="form-control">
		      <option value=""></option>
              {% for mod in columns %}
			           <option value="{{mod}}">{{mod}}</option>
		          {% endfor %}
	     </select>
    <br>
    <label for="Categoricalvariable">	Categorical Variable (Variable in data to map plot aspects to different colors) OPTIONAL:</label>
    <br>
      <select name = "corrcat" class="form-control">
		      <option value=""></option>
              {% for mod in columns %}
			           <option value="{{mod}}">{{mod}}</option>
		          {% endfor %}
      </select>
  </div>
</div>

<br>
  <button class="btn  btn-warning btn-block" type="submit">Show Graphs</button>
</form>


</main>
{% endblock %}
