{% extends 'base.html' %}

{% block content %}
<div class="card">
  <div class="card-body" >
    <form method="post" enctype=multipart/form-data>
      <textarea class="form-control" rows="5" name="user_csv"></textarea>
      <button class="btn btn-success mt-2">Render CSV</button>
      <br/><br/>
{% include 'tabs.html'%}
    </form>
    <p>
    {{message}}
    </p>
    <div class="mt-4">
      {% if request.method == 'POST'%}
        <table id="proxies" class="display table nowrap responsive" style="width: 100%">
          <thead>
            <tr>
              {% for header in results[0].keys() %}
                <th>{{header}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in results %}
              <tr>
                {% for index in range(0, len(fieldnames)) %}
                  <td>{{row[fieldnames[index]]}}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
</div>
{%endblock%}
