{% extends "base.html" %}
{% block content %}
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">

  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/datasets/{{dataset}}/prediction/">Prediction</a></li>
          <li class="breadcrumb-item active" aria-current="page">Overview</li>

      </ol>
  </nav>

<br><br>

<form class="form-models" method="post" action='/datasets/{{dataset}}/prediction/'>



  <div class="row">

  <div class="col-sm-6">
  <h6>Algorithms:</h6>
  <select name="model" class="form-control">
		<optgroup label="Classification">
        {% for mod in clfmodels %}
			<option value="{{mod}}.Classification">{{mod}}</option>
		{% endfor %}
		</optgroup>
		<optgroup label="Regression">
		{% for mod in predmodels %}
			<option value="{{mod}}.Regression">{{mod}}</option>
		{% endfor %}
		</optgroup>
  </select>
  <br>
  <h6>Target:</h6>
   <select name="response" class="form-control">
        {% for col in columns %}
			<option value="{{col}}">{{col}}</option>
		{% endfor %}
  </select>
<br>
  <h6>Standard Scaling:</h6>
   <select name="scaling" class="form-control">
        {% for i in ('Yes', 'No') %}
			<option value="{{i}}">{{i}}</option>
		{% endfor %}
  </select>

  <br><br>
  <button class="btn btn-lg btn-warning btn-block" type="submit">Predict</button>
  </div>

  <div class="col-sm-6">
  <h6 class="form-models-heading">Add Predictor Values</h6>
  {% for col in columns %}
  <input type="text" name="{{col}}">
   {{col}}<br>
  {% endfor %}
  </div>
  </div>
</form>
</main>
{% endblock %}
