{% extends "base.html" %}
{% block content %}

<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">

  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/datasets/{{dataset}}/models">Models</a></li>
          <li class="breadcrumb-item active" aria-current="page">Overview</li>

      </ol>
  </nav>
  <div class="row">
	<h6 align='center'><b>Algorithm:</b> {{algscore}}</h6>
	<h6 align='center'><b>Target Variable: </b>{{res}}</h6>
	<h6 align='center'><b>Predictors:</b> {{gpr}}</h6>
	<br>
		<br>
	<h6 align='center'><b>Model Output</b> {{all_data | safe}}</h6>
	<br>
  	<br>

<div class="col-sm-6">
	<img src="data:image/png;base64, {{fig}}">
</div>
</div>

</main>

{% endblock %}
